@import "tailwindcss";
@theme {
  --color-bg: 255 255 255;
  --color-box: 255 255 255;
  --box-border: 229 231 235;
  --box-sd: 226 232 240 / 0.5;
  --heading-1: 23 37 84;
  --heading-2: 31 41 55;
  --heading-3: 55 65 81;
}

html.dark {
  --color-bg: 3 7 18;
  --color-box: 17 24 39;
  --box-border: 243 244 246 / 0.1;
  --box-sd: transparent;
  --heading-1: 255 255 255;
  --heading-2: 243 244 246;
  --heading-3: 209 213 219;
}


.input-box {
  @apply relative my-[15px] flex text-black;
}

.input-box input {
  @apply w-full px-[20px] pr-[50px] py-[13px] border-[2px] 
    border-[rgba(255,146,146,0.61)] rounded-[8px] 
    text-white text-[16px] font-medium outline-none 
    backdrop-blur-sm bg-[#df161667] 
    hover:bg-[rgba(180,45,45,0.404)] transition;
}

button {
  @apply relative my-[15px] flex w-full px-[20px] pr-[50px] py-[13px] 
    border-[2px] border-[rgba(255,255,255,0.61)] rounded-[8px] 
    text-white text-[16px] font-medium outline-none 
    backdrop-blur-sm bg-[#df161667] 
    hover:bg-[rgba(180,45,45,0.404)] transition;
}


.input-box i {
  @apply absolute top-1/2 right-[20px] -translate-y-1/2 
  text-[20px] text-white
}





.box{
  @apply flex justify-center items-center h-[400px] w-[300px] text-[40pt] bg-[#ffffff] border-2 border-white/20 
  backdrop-blur-md 
}





a {
@apply font-black  text-white
hover:text-[#0a554f] no-underline
}


